.main{
    width: 100%;
    border-radius: 25px;
    min-height: 100vh;
    background: rgb(76,34,118);
    background: linear-gradient(0deg, rgba(76,34,118,1) 0%, rgba(106,199,232,1) 70%); 
}
.nav{
    width: 100%;
    height: 85px;
    background-color: rgb(153, 217, 238);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}
.heading{
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
    cursor: pointer;
}
.heading:hover{
  color:darkred;  
}
.title{
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}
